{
    "plugins": [
        [
            "module-resolver",
            {
                "cwd": "babelrc",
                "alias": {
                    "Constants": "./app/src/constants",
                    "Components": "./app/src/components",
                    "Core": "./app/src/core",
                    "Pages": "./app/src/pages",
                }
            },
            "@babel/plugin-syntax-dynamic-import"
        ]
    ],
    "presets": [
        "@babel/preset-react",
        "@babel/typescript",
        ["@babel/env", { "modules": false }]
    ]
}