{
    "plugins": [
        ["babel-plugin-styled-components", {
            "ssr": false,
            "pure": true
        }],
        ["module-resolver", {
            "cwd": "babelrc",
            "alias": {}
        }],
        "@babel/plugin-syntax-dynamic-import"
    ],
    "presets": [
        "@babel/preset-react",
        "@babel/typescript",
        ["@babel/env", { "modules": false }]
    ]
}