.AxiSlider {
  width: 100%;
  padding-bottom: 1px;
}

.Slider {
  margin: 10px;
}

.p-slider-range {
  border-radius: 6px;
}

.SliderContainer {
  display: flex;
  align-items: center;
}

.DoubleSliderValues {
  padding-top: 3px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}