.Frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.CanvasWrapper {
  width: fit-content;
  background-color: aliceblue;
  box-shadow: 6px 6px 10px rgba(44, 73, 119, 0.405) ;
}

.CanvasAndBackground {
  width: 100%;
  height: 100%;
  background-color: steelblue;

  display: flex;
  align-items: center;
  justify-content: center;
}